<!doctype html>
<html lang="en" class="bam-ui">
  <head>
    <link rel="stylesheet" href="<%= process.env.BAMBUSER_APP_FRAMEWORK_URL %>/bam-ui.css" />
    <script src="<%= process.env.BAMBUSER_APP_FRAMEWORK_URL %>/bam-ui.js"></script>
    <script src="<%= process.env.BAMBUSER_APP_FRAMEWORK_URL %>/runtime.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Custom view</title>
  </head>
  <body>
    <div class="bam-container" data-padding="normal">
      <div class="bam-container" data-spacing="x-small">
        <div class="bam-headline1">Welcome</div>
        <div class="bam-title">A Bambuser App Framework custom view</div>
      </div>
      <div class="bam-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet enim feugiat, blandit mi in, volutpat tellus. Phasellus eget erat at nibh pulvinar interdum. Vivamus imperdiet pharetra nulla, ac imperdiet nisl finibus at. Praesent cursus elementum viverra. Duis tempus erat risus, at auctor quam malesuada vel. Praesent sit amet magna at massa finibus aliquam.</p>
        <button data-variant="primary">Click click click</button>
      </div>
    </div>
  </body>
</html>
